@page "/"
@using DotnetDevs.Client

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0,
                 maximum-scale=1.0, user-scalable=no" />
	<title>Your Site</title>
	<base href="/" />
	<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
	<link href="css/app.css" rel="stylesheet" />
	<link href="DotnetDevs.Client.styles.css" rel="stylesheet" />
</head>

<body>

    @if (HttpContext.Request.Path.StartsWithSegments("/login")
			|| HttpContext.Request.Path.StartsWithSegments("/logout")
			|| HttpContext.Request.Path.StartsWithSegments("/register"))
	{
		<component type="typeof(App)" render-mode="WebAssembly" />
    }
    else
	{
		<component type="typeof(App)" render-mode="WebAssemblyPrerendered" />
    }

	<persist-component-state />
	<script src="_framework/blazor.webassembly.js"></script>
</body>

</html>